@font-face{
	font-family: NinjaNaruto;
	src: url('fonts/naruto.ttf');
}
body{
	background: #FF9900;
}
header{
	padding: 5%;
}
#header{
	margin: auto;
	width:50%;
	display: flex;
}
header img{
	margin:auto;
}
header h1{
	margin:auto;
	color:#FF3300;
	font-family: NinjaNaruto;
	font-size: 40px;
}
nav{
	border-radius: 10px;
	background: #FFCC00;
	padding: 5%;
}
nav > ul{
	margin:0;
	padding: 0;
	display: flex;
	list-style-type: none;
}
nav li {
	margin: auto;
}
nav li a{
	font-family: NinjaNaruto;
	color:blue;
}
main{
	border-radius: 10px;
	background: white;
}
main section{
	color:dimgray;
}
main section ul{
	list-style-type: none;
}